html {
    background-color: #888;
}

body {
    font-family:proxima-nova, Helvetica, Arial, sans-serif;    
    font-size:12pt;
    padding: 20px 20px;    
    margin-top:-40px;
    background-color: #222;
    color: #bbb;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
}

a {
    color:rgb(255, 255, 154);
}

img {
    max-width: 100%;
}

h1 {
    border-bottom: solid 1px #444;
    margin-top:40px;
    font-size:20pt;
}

h2 {
    font-size:18pt;
}

h3 { 
    font-size:14pt;
}

h1, h2, h3 { color: white }